@charset "UTF-8";
.container {
	display:flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.a {
	width:601px;
}

h1 {
	display:flex;
	align-items: center;
	justify-content: center;
	
}